body {
  background: salmon;
  font-family: system-ui, sans-serif;
}
nav {background-color: rgba(255,255,255,0.5);
  display: flex;
  flex-direction: row-reverse;
}

nav a{
  padding: 20px;
  text-decoration: none;
  transition: background-color 0,4s
}

nav a.active {
  background-color: white
}

nav a:hover {
  background: rgba(255,255,255,0.4)
}
